*:focus {
    outline: none;
}

body {
    background-color: #fff;
}

.left {
    position: fixed;
    top: 15px;
    left: 0;
    width: 15px;
    height: 100%;
    background-color: #ff8266;
    transition: all 0.4s ease;
}

.left.hidden {
    height: 0;
}

.top {
    position: fixed;
    top: 0;
    right: 15px;
    width: 100%;
    height: 15px;
    background-color: #00bcd4;
    transition: all 0.4s ease;
}


.top.hidden {
    width: 0;
}

.right {
    position: fixed;
    bottom: 15px;
    right: 0px;
    width: 15px;
    height: 100%;
    background-color: #fbf300;
    transition: all 0.4s ease;
}

.right.hidden {
    height: 0;
}

.bottom {
    position: fixed;
    bottom: 0px;
    left: 15px;
    width: 100%;
    height: 15px;
    background-color: #00d44b;
    transition: all 0.4s ease;
}


.bottom.hidden {
    width: 0;
}

#logo {
    display: block;
    width: 700px;
    margin: 0 auto;
    position: relative;
    top: 75px;
}

#intro {
    color: #fff;
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

.inner-bar {
    display: flex;
    width: 880px;
    margin: 0 auto;
}

.inner-bar #add-button {
    width: 45px;
    height: 45px;
    color: #a484ff;
    font-size: 35px;
    font-weight: bold;
    border: 1px solid #f2f2f2;
    border-radius: 50%;
    margin: 0;
    margin-right: 10px;
    text-align: center;
}

.inner-bar #add-button {
    width: 45px;
    height: 45px;
    color: #a484ff;
    font-size: 35px;
    font-weight: bold;
    border: 1px solid #a484ff;
    border-radius: 50%;
    margin: 0;
    margin-right: 10px;
    text-align: center;
}

.inner-bar #add-button:hover {
    color: white;
    font-size: 35px;
    font-weight: bold;
    background-color: #cdbcff;
    border: 1px solid #f2f2f2;
    border-radius: 50%;
    margin: 0;
    margin-right: 10px;
    text-align: center;
}

.inner-bar #search-container {
    display: flex;
    width: 700px;
    height: 50px;
    margin-right: 10px;
    border-radius: 15px;
    background-color: #f2f2f2;
}

.inner-bar #search-container input {
    display: block;
    width: 650px;
    height: 30px;
    background-color: #f2f2f2;
    border: 0 !important;
    font-size: 18px;
    margin: 6px auto;
}

.inner-bar #search-container i {
    position: relative;
    top: 15px;
    right: 10px;
    font-size: 20px;
}

.inner-bar #browse {
    background-color: #FB5400;
    color: white;
    margin: auto 0;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 16px;
}

.inner-bar #browse:hover {
    background-color: #ff7835;
}